<div class="container">
    <div class="row col-12">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1>Liste des clients</h1>
                </div>
                <div class="card-body">
                    <table>
                        <tr>
                            <th>CODE</th>
                            <th>NOM</th>
                            <th>SEXE</th>
                            <th>TELEPHONE</th>
                            <th>ACTION</th>
                        </tr>
                        <tr *ngFor="let client of clients">
                            <td>{{client.code}}</td>
                            <td>{{client.name}}</td>
                            <td>{{client.gender}}</td>
                            <td>{{client.phone}}</td>
                            <td>
                                <a class="mx-1" (click)="edit(client)">editer</a>
                                <a class="mx-1" (click)="remove(client)">supprimer</a>
                                <a class="mx-1" [routerLink]="[client.id, 'commandes']">commandes</a>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h1>Formulaire client</h1>
                </div>
                <div class="card-body">
                    <form #f="ngForm" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="form-row">
                                <label for="">CODE</label>
                                <input type="text" name="code" class="form-control" [(ngModel)]="form.code">
                            </div>
                            <div class="form-row">
                                <label for="">NOM</label>
                                <input type="text" name="name" class="form-control" [(ngModel)]="form.name">
                            </div>
                            <div class="form-row">
                                <label for="">SEXE</label>
                                <div class="form-row">
                                    <div class="row">
                                        <input type="radio" name="gender" class="form-control" [(ngModel)]="form.gender" [value]="'homme'">
                                        <span>Homme</span>
                                    </div>
                                    <div class="row">
                                        <input type="radio" name="gender" class="form-control" [(ngModel)]="form.gender" [value]="'femme'">
                                        <span>Femme</span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <label for="">TELEPHONE</label>
                                <input type="number"  name="phone" class="form-control" [(ngModel)]="form.phone">
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Soumettre</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>